<footer class="footer text-white border-success">
    <div class="row m-0">
        <div class=" col col-md-8 p-0">
            <ul id="footer-ul">
                <li class="footer-text">Oficina Central</li>
                <li class="footer-text">
                    Dirección:
                    <a href="https://goo.gl/maps/eaR4DZEDHyMzZ6WD8" target="_blank">Sarmiento 1107, San Miguel</a>
                </li>
                <li class="footer-text">Mail:
                    <a href="mailto:info@estudiobac.com">
                        info@estudiobac.com</a>
                </li>
                <li class="footer-text">
                    <a href="/">Home</a> |
                    <a href="#">Productos</a> |
                    <a href="/AboutUs">Preguntas frecuentes</a> |
                    <a href="/Contact">Contacto</a>
                </li>
                <li class="footer-text mt-1">Estudio BAC - 2019 - Todos los derechos reservados.<br>
                    <a href="https://switchit.com.ar/" target="_blank">Switch IT</a>
                </li>
            </ul>
        </div>
        <div class="col p-0 img-footer">
            <section class="border-success" id="map-footer">
                <div class="col p-0 img-footer">
                    <img class="img-fluid" src="/img/home/bot.jpg" alt="imagen empresa footer">
                </div>
            </section>
        </div>
    </div>
</footer>