<section class="parallax" id="plx-about">
</section>
<section class="container wow animate__fadeIn animate__slow">
  <div class="text-center my-5">
    <h1 class="px-4 display-1 wow animate__fadeInRight animate__delay-2s d-inline-block"> - NOSOTROS -</h1>
  </div>
  <p>Hace 15 años que nuestro Estudio de Arquitectura nació con la idea de innovar en ideas, servicios y especialmente
    en el trato hacia nuestros clientes. Porque detrás de nuestro conocimiento y los aspectos netamente técnicos que
    perfilan el trabajo de la construcción, hay profesionales apasionados abocados a crear, en su máxima expresión. Con
    pasión, estilo y responsabilidad <br><br>
    Nuestro equipo está formado por profesionales volcados a la arquitectura y ramas afines, que supieron generar desde
    niños y adolescentes un vínculo que el tiempo se encargaría de consolidar. <br><br>
    Nació hace 15 años atrás, en el entusiasmo de dos compañeros en la formación industrial, Cristian Castro (Maestro
    Mayor de Obras) y Sebastián Biondi, (Maestro Mayor de Obras y Arquitecto) que, a lo largo de su formación laboral,
    adquirieron la experiencia y las herramientas necesarias para garantizar un trabajo serio, honesto y eficiente.
    <br><br>
    En el camino, aprendieron del trabajo interdisciplinario con profesionales dedicados al diseño gráfico, la
    arquitectura del paisaje, diseño de interiores, artes visuales y plásticas, albañiles, herreros, pintores, plomeros
    y electricistas, relacionistas públicos, publicistas y especialistas en administración de empresas con la finalidad
    de aunar criterios en la resolución de las necesidades puntuales de sus clientes. <br><br>
    Luego de participar de diversos proyectos de envergadura, en la faz arquitectónica y comercial, empezaron a trabajar
    juntos en el mercado inmobiliario, generando desarrollo para distintos inversores, complejos habitacionales, dúplex,
    edificios, entre otros, creando obras innovadoras y con sello propio. <br><br>
    Posteriormente la incorporación de la Arquitecta, Pilar Manfredi, aportó calidez al trabajo y una mirada más cuidada
    en cada proyecto, desde los materiales a involucrar hasta los últimos detalles de diseño<br> <br>
    De la misma manera,
    Walter Martínez, también Maestro Mayor de Obras, se sumó al estudio aportando ideas nuevas, con suma eficiencia y
    una entrega incondicional al trabajo en equipo. <br> <br>
    A partir de allí el sueño de aquellos amigos y compañeros de
    secundaria fue convirtiéndose en una ambiciosa realidad hasta lograr ser hoy uno de los estudios dedicados al
    trabajo inmobiliario con mayor capacidad resolutiva, servicio integral de alta calidad y con el cuerpo y la mente
    volcados a los requerimientos de sus clientes<br><br>
    Sabemos que cada cliente es único y que nuestro trabajo es
    interpretar sus gustos y expectativas, para convertirlos en el hogar que anhela. Nuestro trabajo se resume en tres
    premisas inquebrantables: le ponemos alma a las estructuras, pasión a las ideas y responsabilidad al trabajo
    comprometido. Un servicio con valor agregado que hoy lo invitamos a conocer. <br>
  </p>
</section>
<section>
  <div class="container" id="accordion">
    <div class="card mb-2 wow animate__fadeInUp">
      <div class="card-header bg-primary" id="vision">
        <button class="text-left btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapse1"
          aria-expanded="true" aria-controls="collapse1">
          <h5 class="mb-0">Nuestra Visión</h5>
        </button>
      </div>
      <div id="collapse1" class="collapse" aria-labelledby="vision" data-parent="#accordion">
        <div class="card-body">
          <p>
            Acompañar e implementar la evolución de la construcción potenciándola, creando y ejecutando proyectos e
            ideas innovadoras que mejore la calidad de vida de las personas.
          </p>
        </div>
      </div>
    </div>
    <div class="card my-2 wow animate__fadeInUp animate__delay-1s">
      <div class="card-header bg-primary" id="mision">
        <button class="text-left btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapse2"
          aria-expanded="false" aria-controls="collapse2">
          <h5 class="mb-0">Nuestra Misión</h5>
        </button>
      </div>
      <div id="collapse2" class="collapse" aria-labelledby="mision" data-parent="#accordion">
        <div class="card-body">
          <p>Ser el líder y referente de innovación dentro del mercado de la construcción.</p>
        </div>
      </div>
    </div>
    <div class="card my-2 wow animate__fadeInUp animate__delay-2s">
      <div class="card-header bg-primary" id="proposito">
        <button class="text-left btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapse3"
          aria-expanded="false" aria-controls="collapse3">
          <h5 class="mb-0">Nuestro Propósito</h5>
        </button>
      </div>
      <div id="collapse3" class="collapse" aria-labelledby="proposito" data-parent="#accordion">
        <div class="card-body">
          <p>Inspirar innovación, servicio y valor agregado. Evolucionar y buscar continuas mejoras en términos de
            calidad espacial y constructiva.
          </p>
        </div>
      </div>
    </div>
    <div class="card my-2 wow animate__fadeInUp animate__delay-3s">
      <div class="card-header bg-primary" id="proposito">
        <button class="text-left btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapse4"
          aria-expanded="false" aria-controls="collapse4">
          <h5 class="mb-0">Nuestros Valores</h5>
        </button>
      </div>
      <div id="collapse4" class="collapse" aria-labelledby="proposito" data-parent="#accordion">
        <div class="card-body">
          <p>Transparencia, Flexibilidad, Adaptabilidad, Ágilidad, Confianza, Compromiso, Sustentabilidad, Juventud,
            Experiencia.
          </p>
        </div>
      </div>
    </div>
    <div class="card my-2 wow animate__fadeInUp animate__delay-4s">
      <div class="card-header bg-primary" id="proposito">
        <button class="text-left btn btn-link btn-block collapsed" data-toggle="collapse" data-target="#collapse5"
          aria-expanded="false" aria-controls="collapse5">
          <h5 class="mb-0">Nuestro ADN</h5>
        </button>
      </div>
      <div id="collapse5" class="collapse" aria-labelledby="proposito" data-parent="#accordion">
        <div class="card-body">
          <p> Pasión por la profesión. <br>
            Innovación.<br>
            Equilibrio personal y profesional.<br>
            Búsqueda constante de oportunidades. <br>
            Crecer sin perder la esencia.<br>
            Servicio Personalizado<br>
          </p>
        </div>
      </div>
    </div>
</section>
<section class="container text-center">
  <div class="row justify-content-center">
    <div class="col-sm-2 col-12 wow animate__fadeInRight animate__slow animate__delay-1s">
      <a href="#" class="">
        <img class="d-block mx-auto rounded-circle border-success profile-custom" src="../img/about/profile1.png"
          alt="profile img" data-holder-rendered="true">
        <h4 class="mt-3">Federico Castro</h4>
      </a>
    </div>
    <div class="col-sm-2 col-12 wow animate__fadeInRight animate__slow animate__delay-2s">
      <a href="#" class="">
        <img class="d-block mx-auto rounded-circle border-success profile-custom" src="../img/about/profile2.png"
          alt="profile img" data-holder-rendered="true">
        <h4 class="mt-3">Pilar Manfredi</h4>
      </a>
    </div>
    <div class="col-sm-2 col-12 wow animate__fadeInRight animate__slow animate__delay-3s">
      <a href="#" class="">
        <img class="d-block mx-auto rounded-circle border-success profile-custom" src="../img/about/profile3.png"
          alt="profile img">
        <h4 class="mt-3">Cristian Castro</h4>
      </a>
    </div>
    <div class="col-sm-2 col-12 wow animate__fadeInRight animate__slow animate__delay-4s">
      <a href="#" class="">
        <img class="d-block mx-auto rounded-circle border-success profile-custom" src="../img/about/profile4.png"
          alt="profile img">
        <h4 class="mt-3">Walter Martinez</h4>
      </a>
    </div>
    <div class="col-sm-2 col-12 wow animate__fadeInRight animate__slow animate__delay-5s">
      <a href="#" class="">
        <img class="d-block mx-auto rounded-circle border-success profile-custom" src="../img/about/profile5.png"
          alt="profile img">
        <h4 class="mt-3">Sebastian Biondi</h4>
      </a>
    </div>
  </div>
</section>
<section>
  <div class="container wow animate__fadeInLeft animate__delay-1s fast">
    <h3 class="title">Nuestros Servicios</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item wow animate__fadeInLeft animate__slow animate__delay-1s">
        <h3>Experiencia</h3>
        <p class="pl-3">
          Contamos con equipo altamente calificado que sabrá asesorarte a la hora de tu compra, aconsejando de
          acuerdo a tus requerimientos y necesidades.
        </p>
      </li>
      <li class="list-group-item wow animate__fadeInLeft animate__slow animate__delay-2s">
        <h3>Calidad</h3>
        <p class="pl-3">
          Trabajamos y distribuimos varias marcas de repuestos y accesorios entre ellas, marcas de primera a
          nivel mundial lo que te garantiza una calidad insuperable.
        </p>
      </li>
      <li class="list-group-item wow animate__fadeInLeft animate__slow animate__delay-3s">
        <h3>Confianza</h3>
        <p class="pl-3">
          Con más de 30 años en el rubro, somos una empresa seria y confiable brindando un servicio de venta y
          post-venta inigualable.
        </p>
      </li>
      <li class="list-group-item wow animate__fadeInLeft animate__slow animate__delay-4s">
        <h3>Asesoramiento</h3>
        <p class="pl-3">
          Trato cordial y personalizado, asesorándolos en todo momento sobre el camino correcto a seguir.
        </p>
      </li>
    </ul>
  </div>
</section>
{{>footer}}