<section id="carousel-landing">
    {{#each Slides}}
    <div>
        <div style="width: 100%; display: inline-block;"><img src="{{slideUrl}}" loading="lazy "></div>
    </div>

    {{/each}}
</section>
<section class="container my-5">
    <div class="row">
        <div class="col-md-7 wow animate__fadeInLeft animate__delay-2s">
            <h5 class="subtitle">Bienvenidos</h5>
            <h3 class="title">¿QUIENES SOMOS?</h3>
            <p>Hace 15 años que nuestro Estudio de Arquitectura nació con la idea de innovar en ideas, servicios y
                especialmente en el trato hacia nuestros clientes. Porque detrás de nuestro conocimiento y los aspectos
                netamente técnicos que perfilan el trabajo de la construcción, hay profesionales apasionados abocados a
                crear, en su máxima expresión. Con pasión, estilo y responsabilidad. Nuestro equipo está formado por
                profesionales volcados a la arquitectura y ramas afines, que supieron generar desde niños y adolescentes
                un vínculo que el tiempo se encargaría de consolidar. Nació hace 15 años atrás, en el entusiasmo de dos
                compañeros en la formación industrial, Cristian Castro (Maestro Mayor de Obras) y Sebastián Biondi,
                (Maestro Mayor de Obras y Arquitecto) que, a lo largo de su formación laboral, adquirieron la
                experiencia y las herramientas necesarias para garantizar un trabajo serio, honesto y eficiente.
        </div>
        <div class="col-md-5 pl-4 wow animate__fadeIn animate__delay-5s animate__slow">
            <img class="img-fluid img-side" src="/img/home/right.jpg" alt="imagen empresa derecha" />
        </div>
    </div>
</section>
<section class="parallax" id="plx1">
    <div class="d-flex h-100 text-white flex-column justify-content-center">
        <img class="align-self-center img-fluid mini-logo" src="/img/home/logo.png" alt="">
    </div>
</section>
<section class="container my-5">
    <div class="row">
        <div class="col-sm-12 col-md-5 pr-4 wow animate__fadeIn animate__delay-3s animate__slow">
            <img class="img-fluid img-side w-100" id="img-left" src="/img/home/left.jpg" alt="imagen empresa derecha" />
        </div>
        <div class="col-sm-12 col-md-7 wow animate__fadeInRight animate__delay-1s">
            <h5 class="subtitle">Que hacemos?</h5>
            <h3 class="title">Nuestros Servicios</h3>
            <div class="row my-4 wow animate__fadeInRight animate__delay-2s px-4">
                <div class="col-sm-3 col-4">
                    <div class="service-icons bg-primary">
                        <i class="fas fa-ruler-combined fa-3x text-success"></i>
                    </div>
                </div>
                <div class="col-sm-8 col-8">
                    <div class="service-text">
                        <h4 class="text-uppercase">Proyecto y Diseño</h4>
                        <h7 class="font-weight-light">Planificación de un proyecto de una obra nueva o ampliación, a
                            partir de una idea desde cero. Lo proyectamos con documentación de obra, cómputo,
                            presupuesto y final de obra. </h7>
                    </div>
                </div>
            </div>
            <div class="row my-4 wow animate__fadeInRight animate__delay-2s px-4">
                <div class="col-sm-3 col-4">
                    <div class="service-icons bg-primary">
                        <i class="fas fa-clipboard-list fa-3x text-success"></i>
                    </div>
                </div>
                <div class="col-sm-8 col-8">
                    <div class="service-text">
                        <h4 class="text-uppercase">Dirección de Obra</h4>
                        <h7 class="font-weight-light">Construcción general, a partir del proyecto de obra nueva o
                            ampliación, supervisado por arquitectos e ingenieros que coordinan todos los rubros.</h7>
                    </div>
                </div>
            </div>
            <div class="row my-4 wow animate__fadeInRight animate__delay-3s px-4">
                <div class="col-sm-3 col-4">
                    <div class="service-icons bg-primary">
                        <i class="fas fa-briefcase fa-3x text-success"></i>
                    </div>
                </div>
                <div class="col-sm-8 col-8">
                    <div class="service-text">
                        <h4 class="text-uppercase">Planos y Tramitaciones</h4>
                        <h7 class="font-weight-light">Todos los planos necesarios para construir y habilitar la obra,
                            tramitación de permisos municipales, y presentaciones legales necesarias.</h7>
                    </div>
                </div>
            </div>
            <div class="row my-4 wow animate__fadeInRight animate__delay-4s px-4">
                <div class="col-sm-3 col-4">
                    <div class="service-icons bg-primary">
                        <i class="fa fa-wrench fa-3x text-success"></i>
                    </div>
                </div>
                <div class="col-sm-8 col-8">
                    <div class="service-text">
                        <h4 class="text-uppercase">Construcción Integral</h4>
                        <h7 class="font-weight-light">BAC Estudio de Arquitectura se compromete en la entrega de
                            proyectos llave en mano.</h7>
                    </div>
                </div>
            </div>
            <div class="row my-4 wow animate__fadeInRight animate__delay-5s px-4">
                <div class="col-sm-3 col-4">
                    <div class="service-icons bg-primary">
                        <i class="fa fa-shield-virus fa-3x text-success"></i>
                    </div>
                </div>
                <div class="col-sm-8 col-8">
                    <div class="service-text">
                        <h4 class="text-uppercase">Evaluación de Proyectos</h4>
                        <h7 class="font-weight-light">Se analiza y determinan viabilidades constructivas para proyectos
                            de inversión.</h7>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="parallax" id="plx2">
    <div
        class="d-flex h-100 text-white justify-content-center wow animate__fadeInTopRight animate__slower animate__delay-5s">
        <img class="align-self-center img-fluid mini-logo" src="/img/home/logo.png" alt="">
    </div>
</section>
<!-- <section id="testimonios">
    <div>
        <blockquote class="quote-card">
            <p>El trabajo quedó excelente, es todo lo que esperabamos</p>
            <cite> Julieta Venegas </cite>
        </blockquote>
    </div>
    <div>
        <blockquote class="quote-card yellow-card">
            <p>
                Fernando fue muy atento y logró llevar nuestra idea a la realidad. Estamos muy contentos
            </p>
            <cite> Maximo Cozzetti </cite>
        </blockquote>
    </div>
    <div>
        <blockquote class="quote-card blue-card">
            <p>
                Todos los productos que pedimos llegaron siempre en tiempo y forma, un placer trabajar asi! Gracias!
            </p>
            <cite> Volkswagen Argentina </cite>
        </blockquote>
    </div>
    <div>
        <blockquote class="quote-card red-card">
            <p>
                Productos de primer nivel con muy buen servicio de post-venta.
            </p>
            <cite> Jose Lopez </cite>
        </blockquote>
    </div>
</section> -->
{{>footer}}

<script src="/js/index.js"></script>